table {
    border-collapse: collapse;
}

table th{
    text-align: left;

}

table td,th{
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 5px;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}