@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
        display:grid;
        grid-template-columns: 33.33% 66.67%;
        grid-template-rows: auto;
        grid-template-areas: "categories items";
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.categories{
    grid-area: categories;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.items {
    grid-area: items;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}